/* estilos/index.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0; /* Fondo plata */
    color: #333; /* Texto oscuro */
}

header {
    background-color: #b08d57; /* Color bronce */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Color dorado al hacer hover */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

.descriptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.description-card {
    background-color: #e0e0e0; /* Fondo plata claro */
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.3s, box-shadow 0.3s;
}

.description-card h2 {
    text-align: center; /* Centrar el título */
    font-size: 1.2em; /* Ajustar el tamaño del título */
    margin-bottom: 10px; /* Espacio debajo del título */
}

.description-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    background-color: #4f4f4f; /* Color metálico oscuro */
    color: white;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    font-size: 1.1em;
    font-weight: bold;
}

.btn:hover {
    transform: translateY(-5px);
    background-color: #6f6f6f; /* Color metálico más claro al hacer hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al hacer hover */
}

footer {
    background-color: #b08d57; /* Color bronce */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}