/* estilos/pagina5.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0; /* Fondo plata */
    color: #333; /* Texto oscuro */
}

header {
    background-color: #b08d57; /* Color bronce */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Color dorado al hacer hover */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

section {
    width: 100%;
    max-width: 800px;
}

h1 {
    margin-bottom: 20px;
}

/* Especificamos que los estilos aplican solo dentro de la sección */
section ol {
    list-style: none;
    padding: 0;
}

section ol li {
    margin-bottom: 20px;
    background-color: #f9f9f9; /* Fondo gris claro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section ol li h2 {
    cursor: pointer;
}

.book-details {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.book-details img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.synopsis {
    text-align: justify;
    white-space: pre-wrap;
}

footer {
    background-color: #b08d57; /* Color bronce */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}