/* estilos/pagina3.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0; /* Fondo plata */
    color: #333; /* Texto oscuro */
}

header {
    background-color: #b08d57; /* Color bronce */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Color dorado al hacer hover */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

section {
    width: 100%;
    max-width: 800px;
}

.article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 1.5s forwards;
}

.article img {
    width: 100%;
    max-width: 400px; /* Ajustar el tamaño máximo de la imagen */
    height: auto;
    border-radius: 10px; /* Bordes redondeados */
    margin: 0 auto; /* Centrar la imagen */
    display: block; /* Asegurar que la imagen sea un bloque */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #b08d57; /* Color bronce */
    color: white;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffd700; /* Color dorado al hacer hover */
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #b08d57; /* Color bronce */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}   