/* estilos/pagina2.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0; /* Fondo plata */
    color: #333; /* Texto oscuro */
}

header {
    background-color: #b08d57; /* Color bronce */
    color: white;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

header h1 {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Color dorado al hacer hover */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al hacer hover */
}

.image-container img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s, rotate 0.3s, opacity 0.3s;
}

.image-container:nth-child(1):hover img {
    transform: scale(1.1);
}

.image-container:nth-child(2):hover img {
    transform: rotate(10deg);
}

.image-container:nth-child(3):hover img {
    transform: translateY(-10px);
}

.image-container:nth-child(4):hover img {
    transform: skewX(10deg);
}

.image-container:nth-child(5):hover img {
    opacity: 0.5;
}

.image-container:nth-child(6):hover img {
    transform: translateX(10px);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transition: opacity 0.3s, max-height 0.3s;
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.image-container:hover .overlay {
    opacity: 1;
    max-height: 300px; /* Ajustar para que el texto sea completamente visible */
}

footer {
    background-color: #b08d57; /* Color bronce */
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}